<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.labmanagesystem.mapper.ReagentMapper">
    <resultMap id="ReagentMap" type="com.example.labmanagesystem.pojo.domain.Reagent">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="casCode" column="cas_code"/>
        <result property="molecularFormula" column="molecular_formula"/>
        <result property="molecularWeight" column="molecular_weight"/>
        <result property="weight" column="weight"/>
        <result property="location" column="location"/>
        <result property="status" column="status"/>
        <result property="labFlag" column="lab_flag"/>
        <result property="reagentCategory" column="reagent_category"/>
        <result property="expirationDate" column="expiration_date"/>
        <result property="delFlag" column="delete_flag"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <insert id="add">
        INSERT INTO reagent_table
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="casCode != null and casCode != ''">cas_code,</if>
            <if test="molecularFormula != null and molecularFormula != ''">molecular_formula,</if>
            <if test="molecularWeight != null">molecular_weight,</if>
            <if test="location != null and location != ''">location,</if>
            <if test="weight != null">weight,</if>
            <if test="status != null">status,</if>
            <if test="labFlag != null">lab_flag,</if>
            <if test="reagentCategory != null">reagent_category,</if>
            <if test="deleteFlag != null">delete_flag,</if>
            <if test="expirationDate != null">expiration_date,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="casCode != null and casCode != ''">#{casCode},</if>
            <if test="molecularFormula != null and molecularFormula != ''">#{molecularFormula},</if>
            <if test="molecularWeight != null">#{molecularWeight},</if>
            <if test="location != null and location != ''">#{location},</if>
            <if test="weight != null">#{weight},</if>
            <if test="status != null">#{status},</if>
            <if test="labFlag != null">#{labFlag},</if>
            <if test="reagentCategory != null">#{reagentCategory},</if>
            <if test="deleteFlag != null">#{deleteFlag},</if>
            <if test="expirationDate != null">#{expirationDate},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="edit">
        UPDATE reagent_table
        <set>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="casCode != null and casCode != ''">cas_code = #{casCode},</if>
            <if test="molecularFormula != null and molecularFormula != ''">molecular_formula = #{molecularFormula},</if>
            <if test="molecularWeight != null">molecular_weight = #{molecularWeight},</if>
            <if test="weight != null">weight = #{weight},</if>
            <if test="status != null">status = #{status},</if>
            <if test="labFlag != null">lab_flag = #{labFlag},</if>
            <if test="reagentCategory != null">reagent_category = #{reagentCategory},</if>
            <if test="location != null">location = #{location},</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM reagent_table
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="list" resultMap="ReagentMap">
        SELECT id, name, cas_code, molecular_formula, molecular_weight, weight, location, status, expiration_date, delete_flag, create_time, update_time
        FROM reagent_table
        <where>
            <if test="name != null and name != ''">AND name LIKE concat('%', #{name}, '%')</if>
            <if test="casCode != null and casCode != ''">AND cas_code LIKE concat('%', #{casCode}, '%')</if>
            <if test="molecularFormula != null and molecularFormula != ''">AND molecular_formula LIKE concat('%', #{molecularFormula}, '%')</if>
            <if test="location != null and location != ''">AND location LIKE concat('%', #{location}, '%')</if>
            <if test="status != null">AND status = #{status}</if>
            <if test="labFlag != null">AND lab_flag = #{labFlag}</if>
            <if test="molecularWeight != null">AND molecular_weight = #{molecularWeight}</if>
            <if test="weight != null">AND weight = #{weight}</if>
            <if test="searchFlag != null">
                <if test="searchFlag == 0">AND create_time BETWEEN #{fromTime} AND #{toTime}</if>
                <if test="searchFlag == 1">AND update_time BETWEEN #{fromTime} AND #{toTime}</if>
                <if test="searchFlag == 2">AND expiration_date BETWEEN #{fromTime} AND #{toTime}</if>
            </if>
            <if test="reagentCategory != null">AND reagent_category = #{reagentCategory}</if>
            AND delete_flag = 0
        </where>
    </select>
</mapper>